// Content Wrapper
.content-wrapper {
  display: flex;
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding-right: 120px;
}

// Main Content
.main-content {
  flex: 1;
  margin-left: 20px;
  padding: 0 20px;
  min-width: 0; // Prevent flex item from overflowing
}

// Footer
.footer {
  background-color: $primary-color;
  color: $white;
  padding: 2rem 0;
  text-align: center;
} 