.header {
  background-color: $white;
  border-bottom: #ddd 1px solid;
  border-top: #ddd 1px solid;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 120px;
}

.nav {
  padding: 1rem 0;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  a {
    display: block;
    text-decoration: none;
  }
  
  img {
    height: 24px;
    width: auto;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;

  a {
    text-decoration: none;
    color: $dark-gray;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-color;
    }
  }
} 