.main-title {
  padding: 120px 120px;
  
  h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 72px;
    color: $primary-color;
    font-weight: 500;
    line-height: 1.2;
    display: block;
  }

  p {
    font-family: 'Pretendard', sans-serif;
    font-size: 24px;
    color: $primary-color;
    margin-top: 20px;
  }
} 